* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /*supprime tous les espaces blancs*/
}

header {
   background-color: #60880f;
   padding-top: 20px;

}

.nav {
   display: inline;
   justify-content: space-evenly;
   /*L’espace entre chaque élément est égal*/
   list-style: none;
   height: 10px;
   padding;

}


a {
   text-decoration: none;
   color: white;
   padding-right: 50px;
   font-style: italic;
   font-size: 3cap;
   font-family: 'roboto';
}


h1 {
   color: white;
   text-transform: uppercase;
   /*majuscule*/
   font-size: 3cap;
   background-color: #60880f;
   height: 80px;
   font-style: italic;
   text-align: center;
   padding-top: 1cap;
   font-family: 'Courier New', Courier, monospace;
}

#about {
   text-align: center;
   background-color: rosybrown;
   padding: 1cm;
}

#apropos {
   font-size: 2cap;
   text-align: left;
   padding-left: 1cap;
   text-decoration: underline;
}

.liste {
   font-weight: bolder;
}

.para {
   text-align: center;
   padding-right: 5%;
   line-height: 2cap;
   font-family: Arial, Helvetica, sans-serif;
}

#work {
   text-align: center;
   background-color: rosybrown;
   padding: 1cm;
}

#projets {
   font-size: 2cap;
   text-align: left;
   padding-left: 1cap;
   text-decoration: underline;
}

.liste2 {
   text-align: left;
   line-height: 3cap;
}

.vid {
   background-size: contain;
}

h2 {
   font-size: 2cap;
   text-align: left;
   padding-left: 1cap;
   text-decoration: underline;
}

.table {
   display: flex;
   gap: 30px;
   /* espace entre les deux tableaux */
   justify-content: center;
   /* centre les tableaux dans la page */
   margin: 20px;
   width: 80%;
   margin: 20px auto;
   font-family: 'Arial, Helvetica, sans-serif';
   font-size: 16px;
}

.tab {
   border-radius: 10px;
   /* les coins du tableau arrondis*/
   border-collapse: separate;
   /* garder les coins arrondis */
   border: 3px solid black;
   border-spacing: 0;
   overflow: auto;
   /* masque les coins carrés internes */

}

.tab th,
td {
   border: 1px solid black;
   /* lignes entre colonnes et lignes */
   padding: 10px;
   text-align: center;
}

#resume {
   text-align: center;
   background-color: rosybrown;
   padding: 1cm;
}

#contact {
   text-align: center;
   background-color: rosybrown;
   padding: 1cm;
}

#nom {
   font-family: cursive;
   font-size: large;
}

#Email {
   font-family: cursive;
   font-size: large;
}

#Message {

   font-family: cursive;
   font-size: large;
}

footer {
   background-color: #60880f;
   text-align: right;
   padding: 25px;
}