.container {
    display: flex;
    justify-content: space-between;
     margin-top: 50px;
}
#color-box{
    width: 100px;
    height: 70px;
    background-color: brown;
}
#change-color-btn{
    background-color: rgb(102, 174, 225);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-style: italic;
    font-weight: bolder;
    border-radius: 5px ;
    height: 70px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
#change-color-btn:hover {
  background-color: #0056b3;
}